/* 
color-pallet:

Benjamin Moore:
  --text: #232a2b;
  --nautral-warm: #f0e2d2;
  --nautral-cold: #efeee5;
  --accent: #d18266;
  --primary-warm: #5b6d92;
  --primary-cold: #d5e3e6;

Midnight Bloom:
  --text: #011638ff;
  --nautral-warm: #2e294eff;
  --nautral-cold: #d499b9ff;
  --accent: #9055a2ff;
  --primary-warm: #2e294eff;
  --primary-cold: #d499b9ff;

--oxford-blue: #011638ff;
--space-cadet: #2e294eff;
--purpureus: #9055a2ff;
--lilac: #d499b9ff;
--tea-rose-red: #e8c1c5ff;
*/

:root {
  --cosmic-black: #0b0c10;
  --cosmic-grey: #0f1118;
  --nebula-purple: #5b2c6f;
  --starlight-blue: #1b3b6f;
  --deep-space-navy: #0d1b2a;
  --meteor-gray: #7b8794;
  --aurora-teal: #1e847f;
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;

  line-height: 1.5;
}

body {
  background-color: var(--cosmic-black);
  color: var(--meteor-gray);

  font-size: 18px;
  font-family: monospace;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;

  position: sticky;
  top: 0;
  z-index: 1000;

  padding: 0px 20px;
  width: 100svw;
  max-width: 100svw;
  background-color: var(--deep-space-navy);
}

nav #img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-radius: 100px;
}

nav img {
  height: 40px;
  padding: 3px;
}

nav #nav-linklist {
  list-style: none;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
}

nav .text-link {
  padding: 10px 15px;
  text-decoration: none;
  color: var(--aurora-teal);
}

nav .text-link:hover,
#img-container:hover {
  background-color: var(--aurora-teal);
  color: var(--deep-space-navy);
}

nav img:hover {
  content: url(images/other/PlanetIcon_navy.png);
}

header #title-section {
  width: 100svw;
  height: 100svh;
  max-height: 1000px;

  background-image: url(images/other/earth-nasa-large-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: red;
}

header h1 {
  letter-spacing: 5px;
  padding: 50px;
  font-size: 50px;
  color: var(--meteor-gray);
}

#intro-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  gap: 20px;

  padding: 100px 0;

  width: 100svw;

  background-color: var(--cosmic-black);
}

#intro-section img {
  width: 90svw;
  max-width: 1060px;
  border-radius: 5px;
}

#intro-section p {
  width: 60svw;
  color: var(--meteor-gray);
  font-size: 24px;
  font-weight: 300;
}

#comp-container {
  padding: 100px 0;
  background-color: var(--cosmic-grey);
}

.comp-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  gap: 60px;
  padding: 30px 0;
}

.comp-section h3 {
  font-size: 36px;
  color: var(--aurora-teal);
}

.comp-section p {
  font-size: 24px;
  color: var(--meteor-gray);
}

.comp-section #text {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column nowrap;

  height: 500px;
  width: 500px;
  background-color: var(--cosmic-black);
  padding: 20px;
  border-radius: 5px;
}

.comp-section #collage-section {
  display: grid;
  grid-template-columns: auto auto;
  border-radius: 5px;
  overflow: hidden;
}

.comp-section #collage-section img {
  border-radius: 0;
  width: 250px;
}

.planet-section {
  width: 100svw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

.planet-section .bg-section {
  display: flex;
  justify-content: center;
  align-items: center;

  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;

  background-color: red;

  width: 100svw;
  height: 500px;
}

.planet-section #mercury-bg {
  background-image: url(images/mercury/mercury_landscape_1920x1080px.png);
}

.planet-section #venus-bg {
  background-image: url(images/venus/venus_landscape_1920x1080px.png);
}
.planet-section #earth-bg {
  background-image: url(images/earth/earth_landscape_1920x1080px.png);
}
.planet-section #mars-bg {
  background-image: url(images/mars/mars_landscape_1920x1080px.png);
}
.planet-section #jupiter-bg {
  background-image: url(images/jupiter/jupiter_landscape_1920x1080px.png);
}
.planet-section #saturn-bg {
  background-image: url(images/saturn/saturn_landscape_1920x1080px.png);
}
.planet-section #uranus-bg {
  background-image: url(images/uranus/uranus_landscape_1920x1080px.png);
}
.planet-section #neptune-bg {
  background-image: url(images/neptune/neptune_landscape_1920x1080px.png);
}

.planet-section .bg-section h2 {
  font-size: 40px;
  letter-spacing: 10px;
  padding: 5px 20px;
  border-radius: 5px;
  backdrop-filter: blur(1px);
  background-color: #000000a8;
  color: #bcbcbc;
}

.planet-section .planet-grid {
  width: 90svw;
  max-width: 1060px;
  display: grid;
  grid-template-columns: auto auto auto;

  padding: 100px 0;
}

.planet-section .planet-grid .grid-item {
  padding: 20px;
}

.planet-section .planet-grid .grid-item:first-child {
  grid-column: 1 / span 2;
  border-right: 1px solid var(--meteor-gray);
}

.planet-section .planet-grid .grid-item h3 {
  color: var(--aurora-teal);
}

.planet-section .planet-grid .grid-item ul {
  list-style: none;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;

  width: 100svw;
  padding: 50px 0;

  background-color: var(--deep-space-navy);
}

footer #footer-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column nowrap;
  gap: 20px;

  width: 80svw;
}

footer #contact-section {
  list-style: none;
  margin-bottom: 10px;
}

footer h3 {
  font-size: 30px;
  color: var(--aurora-teal);
}

footer ul {
  list-style: none;
}

#footer-info {
  display: flex;
  width: 100%;
  justify-content: space-between;

  border-top: 1px solid var(--aurora-teal);
  padding-top: 30px;
}
