:root {
  --background: #011638;
  --header-bg: #2d284d;
  --medium: #9055a2;
  --heading-text: #d499b9;
  --main-text: #e8c1c5;
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

body {
  width: 100svw;
  background-color: var(--background);
  color: var(--main-text);
  font-size: 18px;
  font-family: monospace;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;

  position: sticky;
  top: 0;
  z-index: 1000;

  padding: 0px 20px;
  width: 100svw;
  max-width: 100svw;
  background-color: var(--header-bg);
}

nav #img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-radius: 100px;
}

nav img {
  height: 40px;
  padding: 3px;
}

nav img:hover {
  content: url(images/other/PlanetIcon_alt.png);
}

nav #nav-linklist {
  list-style: none;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
}

nav .text-link {
  padding: 10px 15px;
  text-decoration: none;
  color: var(--heading-text);
}

nav .text-link:hover,
#img-container:hover {
  background-color: var(--medium);
  color: var(--header-bg);
}

header {
  width: 100svw;
  height: 100svh;
  max-height: 1000px;

  background-image: url(images/other/earth-nasa-large-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: red;
}

header h1 {
  font-family: Borel, cursive;
  padding: 50px;
  font-size: 60px;
  color: var(--heading-text);
}

#intro-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  gap: 20px;

  padding: 100px 0;

  width: 100svw;

  background-color: var(--background);
}

#intro-section img {
  width: 1390px;
  border-radius: 5px;
}

.planet-section {
  width: 100svw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

.planet-section .bg-section {
  display: flex;
  justify-content: center;
  align-items: center;

  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;

  background-color: red;

  width: 100svw;
  height: 500px;
}

.planet-section .bg-section h2 {
  font-family: Borel;
  font-size: 46px;
  padding: 30px 20px 2px;
  border-radius: 5px;
  backdrop-filter: blur(1px);
  background-color: var(--header-bg);
  color: var(--heading-text);
}

.planet-section #mercury-bg {
  background-image: url(./images/Mercury/mercury_landscape_1920x1080px.png);
}
.planet-section #venus-bg {
  background-image: url(./images/Venus/venus_landscape_1920x1080px.png);
}

.planet-section #moon-bg {
  background-image: url(images/moon/moon_landscape_1920x1080px.png);
}
.planet-section #mars-bg {
  background-image: url(./images/Mars/mars_landscape_1920x1080px.png);
}
.planet-section #jupiter-bg {
  background-image: url(images/jupiter/jupiter_landscape_1920x1080px.png);
}
.planet-section #saturn-bg {
  background-image: url(images/saturn/saturn_landscape_1920x1080px.png);
}
.planet-section #uranus-bg {
  background-image: url(images/uranus/uranus_landscape_1920x1080px.png);
}
.planet-section #neptune-bg {
  background-image: url(images/neptune/neptune_landscape_1920x1080px.png);
}

.planet-section .planet-grid {
  width: 90svw;
  max-width: 1060px;
  display: grid;
  grid-template-columns: auto auto auto;

  padding: 100px 0;
}

.planet-section .planet-grid .grid-item {
  padding: 20px;
}

.planet-section .planet-grid .grid-item:first-child {
  grid-column: 1 / span 2;
}

.planet-section .planet-grid .grid-item h3 {
  color: var(--heading-text);
  border-bottom: 1px solid var(--heading-text);
}

.planet-section .planet-grid .grid-item ul {
  list-style: none;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;

  width: 100svw;
  padding: 50px 0;

  background-color: var(--header-bg);
}

footer #footer-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column nowrap;
  gap: 20px;

  width: 80svw;
}

footer img {
  width: 40px;
}
footer #contact-section {
  list-style: none;
  margin-bottom: 10px;
}

#contact-section h3 {
  font-size: 30px;
  color: var(--main-text);
}

#contact-section ul {
  list-style: none;
}

#footer-info {
  display: flex;
  width: 100%;
  justify-content: space-between;

  border-top: 1px solid var(--main-text);
  padding-top: 30px;
}
